@tailwind base;
@tailwind components;
@tailwind utilities;




 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #969696;
}

input:focus{
  border: none;
  outline: none;
  border:1px solid #589c;
  background-color: #589cfb17;
}

.beta{
  color: #3113d6;
  position: fixed;
  right:0;
  bottom: 0;
  z-index: 100001;
  background-color: red;
  padding: 20px;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  transform: rotate(-45deg); 
}

#default-sidebar:hover ::-webkit-scrollbar {
  width: 8px;
  display: block;
}

ul{
  padding: 0;
  margin: 0;
}
.auth-box{
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width: 400px;
background-color: #ffffff;
border-radius: 6px;
}
svg{
  color: #3013d6b6;
}
label{
  color: #3113d6 !important;
}
form a{
  color: #3113d6 !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: black !important;
  line-height: 25px;
}
body {
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: scroll;
   background-size: 200% 200%;
  animation: moveBackground 10s ease infinite;
}

@keyframes moveBackground {
  0% { background-position: 50% 50%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 50% 50%; }
}
 
.overshadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.overshadow2{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.font-a{
  font-family:Arial, sans-serif !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}

.self-profile{
  background-color: wheat;
  height: 35vh;
  width: 100%;
}




.post{
  display: flex;
  flex-direction: column;
}

.post>li:nth-child(1){
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 2vh 1vw;
}

.post>li:nth-child(1)>div{
  font-weight: 600;
}

.post>li:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
}
